.header {
  background-color: #3cb0de;
  color: #fff;
  display: flex;
  height: 0.8rem;
  justify-content: center;
  align-items: center;
  position: relative;

  h1 {
    font-size: 0.35rem;
  }

  .add {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.2rem;
    font-size: 0.5rem;
  }
}