.myBtn {
  width: 1.2rem;
  background-color: #ccc;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.15rem 0.1rem;
}
.add_type {
  background-color: #3176be;
}
.edit_type {
  background-color: #f8b04b;
}
.remove_type {
  background-color: #f76350;
}